
.call-center-box {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.call-center-title {
    font-size: 30pt;
    font-family: 'WooridaumB';
    color: black;
    display: flex;
    justify-content: center;
}
.call-and-talk-inner-box {
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.call, .talk {
    width: 200px;
    height: 300px;
    display: flex;
} 
.call-and-talk {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: space-between;
    cursor: pointer;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
     transition: all 0.3s ease;
}
.call-and-talk:hover {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0, 34, 255, 0.1),
     4px 4px 5px 0px rgba(0, 34, 255, 0.1);
     /* width: 250px;
     height: 350px;   왜 세로만 늘어날까? */
}
.img {
    margin-top: 25px;
    width: 150px;
    height: 150px;
}
.call-img {
    fill: palevioletred;
}
.talk-img {
    fill: rgb(255, 203, 13);
}
.call-name-box {
    width: 150px;
    height: 50px;
}
.call-and-talk-name {
    font-family: 'WooridaumB';
    font-size: 20pt;
    transition: all 0.3s ease;
}
.call-and-talk-name:hover {
    color: #000;
}
/* ////// */
button {
    padding: 0;
    border: none;
    background: none;
}
