
.item-box {
    height: 330px;
    background-size: auto;
    background-position: center center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 50px;
}
.item-name {
    font-family: 'WooridaumB';
    font-size: 20pt;
}
.item-name-hover {
    display: none;
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    color: white;
    padding: 0;
}
.hover:hover .item-name-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0s;
    transition-duration: 3s;
    
}
.hover:hover .item-name {
    display: none;
    transition-duration: 3s;
}
.item-name-hover {
    font-family: 'WooridaumB';
}
.itme-name-hover-text {
    font-size: 15pt;
    line-height: 25px;
}
.btn-item-price {
    font-size: 30pt;
    margin: 0;
}
.item-inner .hover {
    height: 100%;
    background-size: auto;
    font-family: 'WooridaumB';
    cursor: pointer;
    transition: all .3s ease 
}

#item_1, #item_2, #item_3, #item_4, #company-info-move {
    width: 100%;
    height: 100px;
}

.item-inner_1 {
    background-image: url("../../assets/img/item_1.jpg");
}

.item-inner_2 {
    background-image: url("../../assets/img/item_2.jpg");
}
.item-inner_3 {
    background-image: url("../../assets/img/item_3.jpg");
}
.item-inner_4 {
    background-image: url("../../assets/img/item_4.jpg");
}


.item-big-box {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 0;
    margin-bottom: 50px;
}
.item-title {
    font-size: 20pt;
    margin-bottom: 10px;
    margin-top: 90px;
}
.item-line {
    width: 40%;
    height: 5px;
    border-radius: 100%;
    opacity: 50%;
    background-color: skyblue;
    margin-left: 30px;
    margin-bottom: 20px;
}
.item-name-box {
    height: 120px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.item-name-text {
    height: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.item-name-sgv {
    height: 120px;
    width: 300px;
}

.item-name {
    font-size: 30pt;
    color: #1A132F;
    margin: 0;
    padding-top: 25px;
}
.item-price {
    font-size: 20pt;
    color: #F10086;
    margin: 0;
    padding-top: 7px;
    font-family: 'WooridaumB';
}

table.item-table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    z-index: 0;
  
}
table.item-table thead th {
    padding: 10px;
    font-weight: bold;
    font-size: 20pt;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.item-table tbody th {
    width: 230px;
    font-size: 15pt;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.item-table td {
    width: 600px;
    font-size: 15pt;
    vertical-align: inherit;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.item-info {
    width: 800px;
    height: 160px;
    background-color: antiquewhite;
    z-index: 0;
    margin-top: 20px;
}
.item-info-text {
    font-weight: 300;
    font-family: 'WooridaumB';
    line-height: 15pt;
    font-size: 11pt;
}

.scroll-container {
    scroll-behavior: smooth;
    display: block;
    margin: auto;
}

.top-btn {
    margin-top: 20px;
  }
  a.button {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  .btnLightBlue {
    background: #5DC8CD;
  }
  .btnFloat {
    background: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
  .btnFloat:before {
    content: '위로가기';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  .btnLightBlue.btnFloat:before {
    background: #5DC8CD;
  }
  .btnFloat:before {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
  }
  .btnFloat:hover:before {
    margin-top: -2px;
    margin-left: 0px;
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  }
.media-title-img {
    height: 70px;
    display: none;
}

@media screen and (max-width: 950px) {
    .item-name-sgv {
        display: none;
    }
    .media-title-img {
        display: block;
    }
    .item-name-box {
        height: 200px;
    }
}