
.item-box {
    height: 330px;
    background-size: auto;
    background-position: center center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 50px;
}
.item-name {
    font-family: 'WooridaumB';
    font-size: 20pt;
}
.item-name-hover {
    display: none;
    background-color: rgba(0,0,0,0.3);
    color: white;
    padding: 62px;
}
.hover:hover .item-name-hover {
    display: block;
    transition-duration: 3s;
    
}
.hover:hover .item-name {
    display: none;
    transition-duration: 3s;
}
.item-name-hover {
    font-family: 'WooridaumB';
}
.itme-name-hover-text {
    font-size: 15pt;
}
.btn-item-price {
    font-size: 30pt;
}
.item-inner .hover {
    height: 100%;
    background-size: auto;
    font-family: 'WooridaumB';
    cursor: pointer;
    transition: all .3s ease 
}
/* .item-inner :hover {
    color:#39d9c8; 
    transition:all .3s ease
}
.item-inner > span { 
    position:relative 
} */



.item-inner_1 {
    background-image: url(https://postfiles.pstatic.net/MjAyMjA2MDNfMjI1/MDAxNjU0MjUyNTQzMDcw.SX7uVy247Z7vZMm_B76dJDNlLWcYRBGrX8o42P8abScg.9wnKgRT_vStHowGeTNDixJdEW_Bf0gBzl-uv-5D7I28g.JPEG.qyoong3579/item_1.jpg?type=w773);
}

.item-inner_2 {
    background-image: url(https://postfiles.pstatic.net/MjAyMjA2MDNfMzkg/MDAxNjU0MjUyNTQzMDcx.S_xCatYHF2z0_zu6tJq3UWp8avHhAvTI_4tgkYAVX_Ug.qvgD3i0fpBlhSmDpcLudgnQ_5jGSvSL-Khi5b2p27SIg.JPEG.qyoong3579/item_2.jpg?type=w773);
}
.item-inner_3 {
    background-image: url(https://postfiles.pstatic.net/MjAyMjA2MDNfMTE0/MDAxNjU0MjUyNTQzMDcw.wyIRBWqTEgzDu3j_Z9atGaW1hsY2dRBdBmTu88Mizrog.seAJSXBidrQSh4D8Pb2OwGPLB8dXzjdYmW4kk-9sfRcg.JPEG.qyoong3579/item_3.jpg?type=w773);
}
.item-inner_4 {
    background-image: url(https://postfiles.pstatic.net/MjAyMjA2MDNfMjY2/MDAxNjU0MjUyNTQzMDcw.K3QeJUnYb7o7PUqOBnX0NrcXwDGWl58TMwfIH8iPUaMg.lVmhUCjcxpQx_aBDt0J9gV8HsoInpinCxuTuXECpvz4g.JPEG.qyoong3579/item_4.jpg?type=w773);
}


.item-big-box {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 0;
    margin-bottom: 50px;
}
.item-title {
    font-size: 20pt;
    margin-bottom: 10px;
    margin-top: 90px;
}
.item-line {
    width: 40%;
    height: 5px;
    border-radius: 100%;
    opacity: 50%;
    background-color: skyblue;
    margin-left: 30px;
    margin-bottom: 20px;
}
.item-name-box {
    height: 120px;
    width: 100%;
    background-image: url(https://postfiles.pstatic.net/MjAyMjA2MDNfMjkw/MDAxNjU0MjUyNzk2ODA4.pk1Th_P5aHKMlBfk6yBSINEanKAQT30GEYfyCjl-8XUg.1CNqiDs2V0oNGZqAlcZLSQhCptqTk7nN57crK1Wca_Ag.PNG.qyoong3579/tilte-back.png?type=w773);
    background-size: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* box-shadow: 0px 5px 20px gray; */
    margin-bottom: 50px;
}
.item-name {
    font-size: 30pt;
    color: #1A132F;
    margin: 0;
    padding-top: 25px;
}
.item-price {
    font-size: 20pt;
    color: #F10086;
    margin: 0;
    padding-top: 7px;
}

table.item-table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    z-index: 0;
  
}
table.item-table thead th {
    padding: 10px;
    font-weight: bold;
    font-size: 20pt;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.item-table tbody th {
    width: 230px;
    font-size: 15pt;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.item-table td {
    width: 600px;
    font-size: 15pt;
    vertical-align: inherit;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.item-info {
    width: 800px;
    height: 160px;
    background-color: antiquewhite;
    z-index: 0;
    margin-top: 20px;
}
.item-info-text {
    font-weight: 300;
    font-family: 'WooridaumB';
    line-height: 15pt;
    font-size: 11pt;
}

.scroll-container {
    scroll-behavior: smooth;
    display: block;
    margin: auto;
    overflow-y: scroll;
}
/* #itme_1 {
    height: 100%;
    padding-top:20px;
} */


.top-btn {
    margin-top: 20px;
  }
  a.button {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  .btnLightBlue {
    background: #5DC8CD;
  }
  .btnFloat {
    background: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
  .btnFloat:before {
    content: '위로가기';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  .btnLightBlue.btnFloat:before {
    background: #5DC8CD;
  }
  .btnFloat:before {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
  }
  .btnFloat:hover:before {
    margin-top: -2px;
    margin-left: 0px;
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  }
