html { 
  scroll-behavior: smooth; 
} 
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'WooridaumB';
    display: block;
}
a {
    text-decoration: none;
    color: black;
}
#test_obj {
  position: absolute;
  width: 70px;
  height: 350px;
  right: 50px;
  border-radius: 70px;
  top: 250px;
  border: 1px solid #dddddd;
}
.main-paig {
    height: 330px;
    background-image: url(/勉強/開発勉強/git/BA-LUN_funeral/assets/img/family.jpg);
    background-size: auto;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    margin-top: 100px;
}
.main-text-box {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    color: #001D6E;
    font-size: 17pt;
    margin-left: 30px;
}
.main-text {
  margin: 15px;
}

.call-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    z-index: 0;
    margin-left: 20px;
  }

  .call-btn {
    background: rgb(255,151,0);
    border: none;
    z-index: 0;
  }
  .call-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .call-btn:hover {
    color: #000;
    font-weight: 600;
  }
  .call-btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .call-btn:active {
    top: 2px;
  }

