body {
    height: 100%;
    width: 100%;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
/* 헤더 로고 및 네비 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo-box {
    width: 200px;
    height: 100%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    list-style: none;
    display: flex;
    padding-left: 0;
    padding-right: 30px;
}
.nav__list li {
    font-size: 17pt;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}
/* 스크린 크기 축소시 네비 설정 */

@media screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    
}


/* 스크린 크기 축소시 네비 설정 끝 */



/* 헤더 로고 및 네비 끝 */

/* 메인페이지 */
.main-paig {
    height: 800px;
    background-image: url(/勉強/開発勉強/git/BA-LUN_funeral/assets/img/chrysanthemum.jpg);
    background-size: auto;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
}
.main-text-box {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    right: 10px;
    color: white;
    font-size: 17pt;
}

.call-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .call-btn {
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
  }
  .call-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .call-btn:hover {
    color: #000;
    font-weight: 600;
  }
  .call-btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .call-btn:active {
    top: 2px;
  }

/* 메인페이지 끝 */

/* 상품설명 */
.item-main {
    height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.item-main-title {
    font-size: 30pt;
    margin-top: 30px;
    margin-bottom: 10px;
}
.line {
    width: 60%;
    height: 5px;
    border-radius: 100%;
    opacity: 50%;
    background-color: grey;
    margin-left: 30px;
    margin-bottom: 50px;
}
.item-box {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
}

.item {
    width: 130px;
    height: 116px;
    display: flex;
    align-self: center;
    flex-flow: column;
    /* border: solid black; */
}
.item-small-box-title {
    display: none;
}
.shadow {
    width: 112px;
    height: 11px;
    border-radius: 50%;
    background-color: gray;
    filter: blur(4px);
    opacity: 60%;
    margin-left: 12px;
}

.item-small-box-img {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.item-small-box-img {
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .item-small-box-img span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .item-small-box-img span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .item-small-box-img span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .item-small-box-img:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .item-small-box-img:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  
hr {
    color: #369;
    opacity: 50%;
}
.item-big-box {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.item-title {
    font-size: 20pt;
    margin-bottom: 10px;
    margin-top: 90px;
}
.item-line {
    width: 40%;
    height: 5px;
    border-radius: 100%;
    opacity: 50%;
    background-color: skyblue;
    margin-left: 30px;
    margin-bottom: 20px;
}

table.item-table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    z-index: 1;
  
}
table.item-table thead th {
    padding: 10px;
    font-weight: bold;
    font-size: 20pt;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.item-table tbody th {
    width: 230px;
    font-size: 15pt;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.item-table td {
    width: 600px;
    font-size: 15pt;
    vertical-align: inherit;
    border-bottom: 1px solid #ccc;
}

.item-info {
    width: 800px;
    height: 130px;
    background-color: antiquewhite;
    z-index: 0;
}
.item-info-text {
    font-weight: 800;
}


/* 상품설명 끝 */

/* 회사소개 */


/* 회사소개 끝 */

/* 고객센터 */


/* 고객센터 끝 */

/* 푸터 */

.footer {
    height: 100px;
}
.footer-text {
    color: gray;
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
    margin: 0;
}
span {
    margin-left: 5px;
    margin-right: 5px;
}

/* 푸터 끝 */