html { 
  scroll-behavior: smooth; 
} 
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'WooridaumB';
    display: block;
}
a {
    text-decoration: none;
    color: black;
}

.main-paig {
    height: 330px;
    background-image: url("../../assets/img/family.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    margin-top: 100px;
}
.main-text-box {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    color: black;
    font-size: 17pt;
    margin-left: 30px;
}
.main-text {
  margin: 15px;
}



  .container {
    margin-left: 10px;
  }
  a.button {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  .btnLightBlue {
    background: #5DC8CD;
  }
  .btnLightBlue.btnPush {
    box-shadow: 0px 5px 0px 0px #1E8185;
  }
  .btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .btnLightBlue.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #1E8185;
  }

  @media screen and (max-width:550px) {
    
    .main-text-box {
      width: 80%;
      height: 240px;
      border-radius: 5%;
      display: flex;
      justify-content: flex-end;
      flex-flow: column;
      font-size: 13pt;
      background-color: rgba(15, 15, 15, 0.5);
      margin-top: 50px;
    }
    .main-text {
      margin: 10px;
      display: flex;
      justify-content: center;
      color: #FFF;
    }
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }