* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 0;
}

.mainNavBar {
  width: 100vw;
  height: 97px;
  box-shadow: 5px 5px 15px 5px gray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}




